*{
  font-size: 16px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
}

/** HEADER **/
#header-nav {
  background-color: #3b5998;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Food, LLC name */
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #fff;
  margin: 0 10px 10px;
}
#nav-list a:hover {
  background: #8b9dc3;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8b9dc3;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

#menu-categories-title {
  margin: 5px auto 30px;
  color: #000;
}

div#main-section {
  height: 5000px;
  text-align: center;
  background-color: #3b5998;
  color: 
}


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 { /* Food, LLC name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}
}



